body {
    background-color: black; /* This sets the background color of the page to aqua */
    color: white; /* This sets the text color to black */
    display: flex; /* This sets my H1 and P elements in the center of the page to meet up with the button. The button is a separate property */
    flex-direction: column; /* This sets the elements on top of each other this way they're not strung across and connected to my button */
    justify-content: center; /* This centers the elements vertically to the center of the web page */
    align-items: center; /* This centers the elements horizontally to the center of the web page */
    height: 100vh; /* This sets the height of the page to be where the viewer is going to be viewing it */
    margin: 0; /* This sets the margin of the page */
    position: relative; /* This allows me to utilize the parent child functionality of the body::before */
}

header {
    padding: 20px; /* This sets the padding of the header */
    font-size: 30px; /* This sets the font size */
}
button {
    background-color: #4CAF50; /* This sets the background color of the button to green */
    border: none; /* This defines the border of the button */
    color: white; /* This sets the color of the text */
    padding: 15px 64px; /* This defines the area around my text for the button. This determines H x W on the button */
    border-radius: 60px; /* This sets the border to be rounded. The higher the pixels, the more curved the corners become */
    text-decoration: none; /* This removes the underline from the text */
    font-size: 16px; /* This sets the font size */
    cursor: pointer; /* This sets the cursor to a pointer */
    margin-top: 20px; /* This sets the margin of the button*/
    box-shadow: 0 5px #999; /* This creates a shadow behind our button */
}

button:hover {
    background-color: #45a049; /* This changes the background color of the button when hovered over */
}

button:active {
    background-color: #3e8e41; /* This changes the background color of the button when clicked */
    box-shadow: 0 5px #666; /* This changes the shadow of the button when clicked */
    transform: translateY(4px); /* This moves the button down 4 pixels when clicked */
}
